<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Header</h1>
        <nav>
            <a href="{% url 'index' %}">Logo</a>
            <a href="{% url 'admin:index' %}">admin</a>
            <a href="{% url 'basic_app:other' %}">Other</a>
        </nav>
    </header>

    <div class="container">

        {% block body_block %}
        <!-- Anything outside of it will be inherited -->
        {% endblock %}

    </div>

    <footer>
        <h1>Footer</h1>
        &copy;2018 Copyright 
    </footer>
    
</body>
</html>